<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.rodrigoveiga.simuladordeprogramador"
        version="1.0.0">

    <name>
        Simulador de Programador
    </name>

    <description>
        Jogo "clicker" que simula (de uma maneira completamente errada) como é a vida de um programador.
    </description>

    <author email="rodrigoveiga.2001@gmail.com">
        Rodrigo Veiga Costa
    </author>

    <icon src="icon.png" />

	<preference name="orientation" value="landscape" />
	<preference name="KeepRunning" value="true"/>
	<platform name="android" />
	
</widget>
